## Ignore the following shit:

## Stack work directory
.stack-work/**
.stack-work

## performance profiling files
*.prof

## vim swap files
*.sw*

## output files
*.json
*.tsv

## Libraries
*.o
*.so

